.modal__backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
}
.modal {
  width: max-content;
  background-color: white;
  font-family: sans-serif;
  border-radius: var(--border-radius);
  --border-radius: 5px;
  --border-color: rgb(229, 228, 228);
  --border-width: 1px;
  --pd: 2rem; /*padding*/
}
.modal__section {
  padding: 1rem var(--pd);
}
.modal__header {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-width) solid var(--border-color);
  font-size: 1.5rem;
}
.modal__title {
  margin: auto;
}
.modal__footer {
  border-top: var(--border-width) solid var(--border-color);
}
.modal__close-btn {
  cursor: pointer;
}

.modal__body {
  display: flex;
  justify-content: center;
  max-width: 500px;
}
