.option {
  width: 40%;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #fff;
  cursor: pointer;
}
.option:hover {
  box-sizing: border-box;
  border: 2px solid #93cdf7;
  background-color: #f0f7f9;
}
.option--selected,
.option--selected:hover {
  background-color: #93cdf7;
  border: 2px solid #93cdf7;
}
.option__title {
  font-size: 1.5rem;
}
.option__icon {
  font-size: 3rem;
}
